@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: "Lato", sans-serif;
}

.nonwrap {
  flex-wrap: unset !important;
}

.juctcont {
  display: flex;
  justify-content: space-between;
  width: 547px;
}

.header {
  height: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
  border: 1px solid #ececec;
  background-color: #ffffff;
  min-width: 1600px;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header__left {
  display: flex;
  align-items: center;
}
.header__right {
  display: flex;
  align-items: center;
}

.container {
  max-width: 1140px;
  min-width: 570px;
  margin: 0 auto;
}

/*min-height: 100%*/
.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.logo__img {
  margin-right: 13px;
}
.logo__bran {
  height: 19px;
  object-fit: contain;
  font-size: 27px;
  font-weight: 400;
  line-height: 1.19;
  letter-spacing: 0.68px;
  color: #222;
}
.logo__bran-d {
  height: 19px;
  font-size: 27px;
  font-weight: 900;
  line-height: 1.19;
  letter-spacing: 0.68px;
  color: #f16d7f;
}

.form {
  display: flex;
  align-items: center;
  margin-left: 37px;
}

.cart_menu {
  position: relative;
}

.cart {
  margin-right: 26px;
}
.cart__line {
  width: 229px;
  height: 1px;
  background-color: rgba(237, 237, 237, 0.74);
}

.menu {
  display: flex;
  justify-content: center;
  list-style: none;
}
.menu__list {
  padding: 20px;
  display: block;
  position: relative;
}
.menu__list:hover .drop {
  display: flex;
}
.menu__link {
  font-size: 14px;
  font-weight: 700;
  color: #222;
  text-decoration: none;
  text-transform: uppercase;
}
.menu__link:hover {
  color: #f16d7f;
}

.drop {
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid #ececec;
  padding: 20px;
  display: none;
  position: absolute;
  top: 50px;
  z-index: 1;
}
.drop_acc {
  position: absolute;
  z-index: 1;
  left: 0;
  right: auto;
  background-color: #ffffff;
  border: 1px solid #ececec;
  width: 130px;
  box-sizing: border-box;
  border-top: none;
}
.drop_acc li {
  list-style-type: none;
}
.drop_acc a {
  text-decoration: none;
  color: #f16d7f;
}
.drop_acc:before {
  right: 450px;
  left: auto !important;
}
.drop_middle {
  left: -73px;
  right: auto;
}
.drop_middle:before {
  right: 450px;
  left: auto !important;
}
.drop_right {
  right: 0;
  left: auto;
}
.drop_right:before {
  left: auto !important;
  right: 50px;
}
.drop:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  position: absolute;
  top: -6px;
  right: 156px;
  transform: rotate(45deg);
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
}
.drop__menu {
  list-style-type: none;
}
.drop__link {
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #646464;
  text-decoration: none;
}
.drop__link:hover {
  color: #f16d7f;
}
.drop__flex {
  width: 235px;
  margin-right: 46px;
}
.drop__flex:last-of-type {
  margin-right: 0;
}
.drop__h3 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #232323;
  border-bottom: 1px solid #e8e8e8;
  padding: 8px 0;
}
.drop__browse {
  text-align: left;
  z-index: 3;
  padding: 10px !important;
  top: 35px;
  display: block;
}
.drop__browse__h3 {
  margin-left: 10px;
}
.drop__browse__flex {
  width: 235px;
}
.drop__browse:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  position: absolute;
  top: -6px;
  right: 200px;
  transform: rotate(45deg);
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
}
.drop__cart {
  text-align: left;
  z-index: 3;
  padding: 10px !important;
  padding-top: 0 !important;
  top: 35px;
  display: block;
}
.drop__cart__button1, .drop__cart__button2 {
  width: 235px;
  height: 50px;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.drop__cart__button1 {
  color: #f16d7f;
  border: 1px solid #f16d7f;
  margin-bottom: 10px;
  margin-top: 20px;
}
.drop__cart__button2 {
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  color: #4a4a4a;
  margin-bottom: 10px;
}
.drop__cart__price {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.drop__cart__price h3 {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}
.drop__cart__flex {
  width: 262px;
}
.drop__cart:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  position: absolute;
  top: -6px;
  right: 232px;
  transform: rotate(45deg);
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
}
.drop__cart__items {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: #e2e2e2 1px solid;
  margin-top: 13px;
  box-sizing: border-box;
}
.drop__cart__items:first-child {
  margin-top: 10px;
}
.drop__cart__items__info {
  display: flex;
}
.drop__cart__items__info__img {
  height: 85px;
  width: 72px;
}
.drop__cart__items__info__text {
  margin-left: 15px;
}
.drop__cart__items__info__text h3:hover {
  color: #f16d7f;
}
.drop__cart__items__info__text a {
  text-decoration: none;
}
.drop__cart__items__info__text h3 {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 8px;
}
.drop__cart__items__info__text p {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  color: #f16d7f;
  margin-top: 8px;
}

.close {
  width: 15px;
  height: 15px;
  margin-top: 37px;
}

.promo {
  height: 614px;
  background-color: #e8e8e8;
}
.promo__content {
  height: 100%;
  background-image: url("img/promo.jpg");
  background-position: 0 -51px;
}
.promo__text {
  font-size: 40px;
  font-weight: 900;
  color: #222;
  border-left: 12px solid #f16d7f;
  padding-left: 12px;
  line-height: 30px;
  margin-top: 224px;
  float: left;
}

.offer1 {
  background-image: url("img/offer1.jpg");
}

.offer2 {
  background-image: url("img/offer2.jpg");
  background-repeat: no-repeat;
  background-position-x: 165px;
}

.offer3 {
  background-image: url("img/offer3.jpg");
}

.offer4 {
  background-image: url("img/offer4.jpg");
}

.offer {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
}
.offer__content div:first-child {
  margin-bottom: 20px;
}
.offer__content__big {
  width: 560px;
  height: 542px;
  background-color: #ccc;
}
.offer__content__mini {
  width: 560px;
  height: 261px;
  background-color: #dadad2;
}
.offer__text {
  background-color: #fff;
  padding: 16px 20px;
  float: left;
  text-transform: uppercase;
  margin-top: 26px;
  font-weight: 900;
  font-size: 18px;
}
.offer__text1 {
  color: #222222;
}
.offer__text2 {
  font-size: 30px;
  color: #f16d7f;
}

.form__search {
  width: 38px;
  height: 38px;
  background-color: #fff;
  border: solid 1px #e6e6e6;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-left-width: 0px;
}

.form__search:hover {
  box-shadow: inset 0px 1px 8px 0 rgba(0, 0, 0, 0.16);
}

.form__browse {
  width: 87px;
  height: 38px;
  object-fit: contain;
  border: solid 1px #e6e6e6;
  background-image: linear-gradient(to top, #f9f9f9, #f5f5f5);
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  border-right-width: 0px;
  position: relative;
}

.form__browse ul {
  margin-left: 25px;
  margin-top: 15px;
}

.form__browse summary {
  display: block;
  font-size: 14px;
  font-weight: 500;
  margin-left: 15px;
  margin-top: 10px;
}

.button summary {
  display: block;
  font-size: 14px;
  font-weight: 500;
}

.Account {
  position: relative;
}
.Account li {
  color: #222224;
}

.form__browse summary::-webkit-details-marker, .button summary::-webkit-details-marker {
  display: none;
}

.form__browse summary::after {
  content: "▶";
  padding-left: 0.5em;
  font-size: 11px;
  color: #838383;
}

.button summary::after {
  content: "▶";
  padding-left: 0.5em;
  font-size: 11px;
  color: #ffffff;
}

details[open] > summary::after {
  content: "▼";
}

.form input {
  width: 269px;
  height: 38px;
  border: solid 1px #e6e6e6;
  padding-left: 10px;
  box-sizing: border-box;
}

.form input:focus {
  outline: none;
}

.button {
  width: 130px;
  height: 38px;
  background-color: #f16d7f;
  object-fit: contain;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.13;
  letter-spacing: 0.38px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  line-height: 250%;
  border: none;
}

.header__right img[alt=arrow-white] {
  margin-bottom: 4px;
  margin-left: 6px;
}

.promo__text_big {
  font-size: 60px;
  line-height: 0.75;
}

.promo__text_mini {
  margin-top: 15px;
}

.promo__text_mini span {
  color: #f16d7f;
}

.fetured__header {
  text-align: center;
  margin-bottom: 60px;
}
.fetured__header p {
  margin-top: 16px;
  color: #9f9f9f;
}
.fetured__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.fetured__list__product {
  width: 261px;
  height: 364px;
  margin-left: 32px;
  margin-bottom: 40px;
  text-decoration: none;
  position: relative;
}
.fetured__list__product__flex {
  display: flex;
  justify-content: center;
  background-color: #f7f7f8;
}
.fetured__list__product:hover .fetured__list__product__flex {
  filter: brightness(50%);
}
.fetured__list__product:hover .fetured__list__product_img {
  filter: brightness(50%);
}
.fetured__list__product:hover {
  box-shadow: 0px 5px 8px 0 rgba(0, 0, 0, 0.16);
  height: 364px;
}
.fetured__list__product:hover .fetured__list__product__add {
  display: flex;
}
.fetured__list__product:hover .fetured__list__product__text__price img[alt=stars] {
  display: block;
}
.fetured__list__product:first-child, .fetured__list__product:nth-child(5) {
  margin-left: 0;
}
.fetured__list__product_img {
  width: 100%;
  height: 280px;
}
.fetured__list__product__add {
  display: none;
  position: absolute;
  top: 27px;
  left: 33px;
  width: 194px;
  flex-wrap: wrap;
  justify-content: center;
}
.fetured__list__product__add button {
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  width: 123px;
  height: 39px;
  border: 1px solid #ffffff;
  text-align: center;
  text-decoration: none;
  line-height: 39px;
  background-color: #f16d7f;
}
.fetured__list__product__add button:active {
  border-color: #bc5563;
}
.fetured__list__product__text {
  padding: 20px 14px;
}
.fetured__list__product__text__name {
  font-size: 14px;
  color: #222;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
}
.fetured__list__product__text__price {
  margin-top: 17px;
  font-size: 16px;
  font-weight: bold;
  color: #f16d7f;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

img[alt=stars] {
  display: none;
  height: 16px;
}

.browse__all {
  width: 212px;
  height: 52px;
  background-color: #f16d7f;
  text-align: center;
  line-height: 3.38;
  margin-left: 462px;
  margin-top: 40px;
  margin-bottom: 113px;
}
.browse__all a {
  font-size: 16px;
  font-weight: bold;
  line-height: 3.38;
  letter-spacing: 0.4px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  display: block;
  height: 100%;
}
.browse__all a img {
  margin-left: 5px;
  margin-bottom: 2px;
}

.offer_sale {
  display: flex;
  margin-bottom: 97px;
}
.offer_sale_box {
  width: 767px;
  height: 529px;
  object-fit: contain;
  background-image: url("img/image.jpg");
}
.offer_sale__h1 {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0.8px;
  text-align: left;
  color: #fff;
  margin-left: 39px;
  margin-top: 146px;
}
.offer_sale_30 {
  font-size: 53.5px;
  letter-spacing: 1.34px;
}
.offer_sale__span {
  color: #f16d7f;
}
.offer_sale__info {
  width: 373px;
  height: 529px;
  background-color: #222224;
  padding-left: 35px;
}
.offer_sale__info figure {
  margin-top: 50px;
  display: flex;
}
.offer_sale__info__text {
  margin-left: 35px;
}
.offer_sale__info__text h1 {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #fbfbfb;
  margin-bottom: 17px;
}
.offer_sale__info__text p1 {
  width: 220px;
  height: 58px;
  display: block;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  letter-spacing: 0.35px;
  color: #fbfbfb;
}

img[alt=sale] {
  width: 40px;
  height: 40px;
}

img[alt=crown] {
  width: 49px;
  height: 35px;
}

img[alt=cur] {
  width: 45px;
  height: 32px;
}

.subscribe__block {
  background-image: url("img/sub_back.jpg");
  max-width: 1600px;
  height: 438px;
  margin: 0 auto;
  background-color: #f7f7f8;
  background-blend-mode: color-burn;
  margin-bottom: 109px;
}

.subscribe__content {
  display: flex;
  padding-top: 111px;
}

.quote {
  display: flex;
}
.quote img {
  border-radius: 50%;
  width: 83px;
  height: 83px;
}
.quote__content {
  margin-left: 28px;
}
.quote__text {
  width: 415px;
  height: 68px;
  font-size: 16px;
  font-style: italic;
  line-height: 1.63;
  letter-spacing: 0.4px;
  margin-top: 12px;
}
.quote__name {
  font-size: 16px;
  color: #f16d7f;
  letter-spacing: 0.4px;
  margin-top: 19px;
}
.quote__name span {
  font-size: 14px;
  color: #222224;
  line-height: 1.63;
}

.quote_slider {
  margin-top: 30px;
  display: flex;
}

.slider_button {
  width: 38px;
  height: 4px;
  background-color: #d6d6d6;
  border: none;
  margin-right: 7px;
}
.slider_button:hover {
  background-color: #9f9f9f;
}
.slider_button_active {
  background-color: #f16d7f;
}
.slider_button_active:hover {
  background-color: #f16d7f;
}

.subscribe {
  margin-left: 165px;
  margin-top: 37px;
}
.subscribe__h1, .subscribe__h2 {
  font-size: 24px;
  line-height: 1.71;
  line-height-letter-spacing: 0.35px;
  text-align: center;
  color: #222224;
  text-transform: uppercase;
}
.subscribe__h2 {
  font-size: 14px;
  margin-bottom: 35px;
}
.subscribe__button {
  height: 46px;
  width: 104px;
  background-color: #f16d7f;
  border: none;
  border-bottom-right-radius: 46px;
  border-top-right-radius: 46px;
  margin-left: -3px;
  font-size: 14px;
  letter-spacing: 0.35px;
  color: #fff;
  font-family: "Lato", sans-serif;
}
.subscribe__button:hover {
  box-shadow: inset 0px 1px 8px 0 rgba(0, 0, 0, 0.16);
}
.subscribe__input {
  border-top-left-radius: 46px;
  border-bottom-left-radius: 46px;
  width: 230px;
  height: 46px;
  border: none;
  background-color: #e1e1e1;
  font-size: 14px;
  line-height: 3.86;
  letter-spacing: 0.35px;
  color: rgba(34, 34, 36, 0.67);
  padding-right: 90px;
  box-sizing: border-box;
  padding-left: 28px;
}
.subscribe__input:focus {
  outline: none;
}

.clr {
  height: 428px;
}

.footer {
  margin-top: -428px;
}
.footer_content {
  height: 349px;
  display: flex;
}
.footer_lu {
  list-style-type: none;
}
.footer_lu a {
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 0.4px;
  color: #898989;
}
.footer_lu li {
  margin-bottom: 25px;
}

.description__text {
  width: 430px;
  height: 188px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  letter-spacing: 0.35px;
  color: #898989;
  margin-top: 29px;
}

.company {
  margin-left: 63px;
  margin-right: 129px;
}

.information {
  margin-right: 79px;
}

.company_h3, .information_h3, .shop_category_h3 {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.45px;
  text-align: right;
  color: #f16d7f;
  margin-bottom: 45px;
}

.bottom {
  height: 79px;
  width: 100%;
  margin: 0 auto;
  background-color: #e6e6e6;
}
.bottom__content {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
}

.copyright {
  font-size: 16px;
  line-height: 2.63;
  letter-spacing: 0.4px;
  color: #7a7a7a;
  display: flex;
}

.share {
  display: flex;
  margin-top: 3px;
}
.share a {
  display: block;
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.share__confirm {
  background-color: #f16d7f;
  position: relative;
}
.share__confirm:hover {
  background-color: rgb(217, 100, 114);
}
.share__confirm img[alt=twitter] {
  left: 8px;
  top: 9px;
  position: absolute;
}

.share__none {
  background-color: #ffffff;
  position: relative;
}
.share__none:hover {
  background-color: #e6e6e6;
}
.share__none img[alt=facebook] {
  left: 11px;
  top: 8px;
  position: absolute;
}
.share__none img[alt=in] {
  left: 9px;
  top: 9px;
  position: absolute;
}
.share__none img[alt=pint] {
  left: 10px;
  top: 8px;
  position: absolute;
}
.share__none img[alt=google] {
  left: 8px;
  top: 9px;
  position: absolute;
}

.active_list {
  border-bottom: solid 3px #ef5b70;
}

.checkout_content {
  height: 148px;
  min-width: 1600px;
  background-color: #f8f3f4;
}

.second_nav {
  display: flex;
  justify-content: space-between;
  padding-top: 65px;
}
.second_nav p {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.43;
  color: #636363;
  text-transform: uppercase;
}
.second_nav span {
  color: #f16d7f;
  font-weight: 600;
}
.second_nav h1 {
  font-size: 24px;
  font-weight: 900;
  line-height: 0.83;
  color: #f16d7f;
  text-transform: uppercase;
}

.order_info {
  margin-top: 31px;
}
.order_info h2 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  color: #222;
  margin-bottom: 31px;
}

.register {
  margin-left: 35px;
}
.register h3 {
  color: #222;
  font-size: 13px;
  text-transform: uppercase;
  margin-top: 8px;
}
.register p {
  font-size: 13px;
  text-align: left;
  color: #b3b2b2;
  margin-top: 15px;
}

.check {
  margin-top: 34px;
  display: flex;
}

.reg {
  display: flex;
  margin-top: 20px;
  margin-bottom: 33px;
}
.reg_text {
  display: flex;
  margin-bottom: 15px;
}
.reg_text p {
  margin-top: -2px;
}
.reg_text_reg {
  margin-bottom: 33px;
}

.input_text {
  font-size: 12px !important;
  color: #222 !important;
  text-transform: uppercase;
  margin-left: 14px;
  box-sizing: border-box;
  font-weight: 600;
}

.fa-solid {
  color: #9f9f9f;
  font-size: 13px;
}

.continue {
  width: 180px;
  height: 50px;
  object-fit: contain;
  border: solid 1px #eaeaea;
  background-color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 23px;
}

.address {
  margin-top: 89px;
}
.address_content {
  margin-bottom: 18px;
}

.lastCheck__button {
  width: 180px;
  height: 50px;
  object-fit: contain;
  border: solid 1px #eaeaea;
  background-color: #fff;
  font-size: 14px;
  font-weight: bold;
}
.lastCheck h2 {
  font-size: 13px;
  color: #222;
  margin-bottom: 15px;
}
.lastCheck p {
  font-size: 13px;
  color: #b3b2b2;
}
.lastCheck h4 {
  font-size: 12px;
  color: #222;
  margin-bottom: 16px;
}
.lastCheck h4 span {
  color: #ff0d0d;
  font-size: 17px;
}
.lastCheck__data {
  display: flex;
  justify-content: space-around;
}
.lastCheck__order {
  display: flex;
  justify-content: space-between;
}

.email, .pass {
  width: 370px;
  height: 45px;
  object-fit: contain;
  border: solid 1px #eaeaea;
  background-color: #fff;
  margin-bottom: 23px;
  padding-left: 20px;
}

.required {
  color: #ff0d0d !important;
  margin-bottom: 32px !important;
}

.forgot {
  font-size: 14px;
  color: #222;
  text-decoration: none;
  font-weight: bold;
  margin-left: 32px;
}

.line {
  width: 1140px;
  height: 1px;
  object-fit: contain;
  background-color: #e8e8e8;
}

.prod__error {
  font-size: 14px;
  color: #ff0d0d;
  margin-top: 10px;
}
.prod_price {
  font-size: 24px !important;
  font-weight: bold !important;
  color: #f16d7f !important;
  margin: 37px 306px 43px 282px !important;
}
.prod_info {
  width: 1141px;
  height: 730px;
  background-color: #ffffff;
  margin: auto;
  border: solid 1px #eaeaea;
  position: absolute;
  bottom: -691px;
  left: 219px;
}
.prod_info_block {
  display: flex;
}
.prod_info_block h4 {
  font-size: 14px;
  font-weight: bold;
  color: #b9b9b9;
}
.prod_info_block h4 span {
  color: #2f2f2f;
}
.prod_info_block h4:first-child {
  margin-left: 404px;
}
.prod_info_block h4:nth-child(2) {
  margin-left: 44px;
}
.prod_info_line {
  border: solid 1px #eaeaea;
  width: 147px;
  margin-left: 495px;
}
.prod_info h3 {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.71;
  text-align: center;
  color: #f16d7f;
  margin: 73px 248px 14px 247px;
}
.prod_info h2 {
  margin: 17px 194px 67px;
  font-size: 18px;
  font-weight: 900;
  text-align: center;
  color: #4d4d4d;
  text-transform: uppercase;
}
.prod_info p {
  margin: 67px 262px 28px;
  object-fit: contain;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  text-align: center;
  color: #5e5e5e;
  width: 619px;
  height: 70px;
}
.prod_slider {
  background-color: #f7f7f7;
  height: 777px;
  width: 1600px;
  margin: auto;
  position: relative;
}
.prod_slider__img {
  margin-top: 11px;
  margin-left: 514px;
}
.prod_slider__left, .prod_slider__right {
  width: 47px;
  height: 47px;
  bottom: 365px;
  object-fit: contain;
  background-color: rgb(204, 204, 204);
  position: absolute;
}
.prod_slider__left__arrow, .prod_slider__right__arrow {
  font-size: 27px;
  color: rgba(238, 238, 238, 0.9333333333);
  margin-left: 15px;
  margin-top: 11px;
}
.prod_slider__right {
  left: 1553px;
}
.prod_line_long {
  width: 642px;
  height: 1px;
  object-fit: contain;
  background-color: #eaeaea;
  margin-left: 250px;
}
.prod_characteristic {
  display: flex;
  width: 534px;
  flex-wrap: wrap;
  margin-left: 303px;
  margin-top: 63px;
}
.prod_characteristic_color {
  margin-right: 47px;
}
.prod_characteristic_color h4 {
  display: flex;
  justify-content: center;
}
.prod_characteristic_color_menu {
  width: 144px;
  height: 35px;
  margin: 16px 0 0;
  object-fit: contain;
  border: solid 1px #eaeaea;
  background-color: #fff;
  color: #bcbcbc;
  text-indent: 2px;
}
.prod_characteristic_size {
  margin-right: 47px;
}
.prod_characteristic_size h4 {
  display: flex;
  justify-content: center;
}
.prod_characteristic_size_menu {
  width: 144px;
  height: 35px;
  margin: 16px 0 0;
  object-fit: contain;
  border: solid 1px #eaeaea;
  background-color: #fff;
  color: #bcbcbc;
  text-indent: 2px;
}
.prod_characteristic_quanity_input {
  width: 144px;
  height: 35px;
  margin: 16px 0 0;
  object-fit: contain;
  border: solid 1px #eaeaea;
  background-color: #fff;
  text-indent: 2px;
  box-sizing: border-box;
}
.prod_characteristic_quanity h4 {
  display: flex;
  justify-content: center;
}

.recomend {
  position: relative;
  margin-top: 763px;
}
.recomend h1 {
  font-size: 24px;
  font-weight: 900;
  text-align: center;
  color: #4d4d4d;
  text-transform: uppercase;
  margin-bottom: 72px;
}
.recomend_items {
  display: flex;
}

.to_cart {
  width: 537px;
  height: 55px;
  object-fit: contain;
  border: solid 1px #ef5b70;
  background-color: #fff;
  font-size: 16px;
  font-weight: bold;
  color: #ef5b70;
  margin-top: 28px;
}

img[alt=prod_item1], img[alt=prod_item2], img[alt=prod_item3] {
  width: auto;
  background-color: #f7f7f7;
  padding: 0px 86px 0px 82px;
}

.products {
  display: flex;
  flex-wrap: wrap;
}
.products__detail {
  display: flex;
  margin-top: 90px;
}
.products__detail p {
  font-family: Lato;
  font-size: 14px;
  color: #222;
  text-transform: uppercase;
  font-weight: bold;
}
.products__detail p:first-child {
  margin-right: 380px;
}
.products__detail p:nth-child(2) {
  margin-right: 80px;
}
.products__detail p:nth-child(3) {
  margin-right: 70px;
}
.products__detail p:nth-child(4) {
  margin-right: 90px;
}
.products__detail p:nth-child(5) {
  margin-right: 50px;
}
.products__item {
  margin-top: 3px;
  display: flex;
}
.products__item__line {
  margin: 20px 0px;
}
.products__item__button__box {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  margin-left: 46px;
  width: 58px;
}
.products__item__name {
  margin-left: 21px;
  width: 380px;
}
.products__item__name h2 {
  font-size: 13px;
  color: #222;
  text-transform: uppercase;
  margin-top: 12px;
  margin-bottom: 38px;
}
.products__item__name p {
  color: #575757;
  font-size: 13px;
  margin-bottom: 0;
}
.products__item__uprice {
  font-size: 13px;
  color: #656565;
  font-weight: bold;
  margin-top: 50px;
  width: 90px;
  text-align: center;
}
.products__item__input {
  width: 54px;
  height: 30px;
  border: solid 1px #eaeaea;
  text-align: center;
}
.products__item__input__box {
  margin-top: 41px;
  margin-left: 74px;
  display: flex;
  justify-content: center;
  width: 79px;
}
.products__item__shipping {
  font-size: 13px;
  color: #656565;
  font-weight: bold;
  margin-left: 64px;
  margin-top: 50px;
  width: 70px;
  text-align: center;
}
.products__item__sprice {
  font-size: 13px;
  color: #656565;
  font-weight: bold;
  margin-left: 86px;
  margin-top: 50px;
  text-align: center;
  width: 73px;
}
.products__item__action {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  height: 10px;
}
.products__item__quantity {
  margin-left: 76px;
  width: 75px;
  font-size: 13px;
  color: #656565;
  font-weight: bold;
  margin-top: 50px;
  text-align: center;
}
.products__item__quantity__button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  height: 10px;
}
.products__item a {
  width: 15px;
  height: 15px;
}
.products__item a img[alt=close] {
  margin-left: 87px;
  margin-top: 49px;
}
.products__buttons {
  display: flex;
  justify-content: space-between;
}
.products__buttons button {
  width: 235px;
  height: 50px;
  border: solid 1px #eaeaea;
  background-color: #fff;
  font-size: 14px;
  font-weight: bold;
  color: #4a4a4a;
  font-family: Lato;
}

.info {
  margin-top: 63px;
  display: flex;
  margin-bottom: 80px;
}
.info h2 {
  font-size: 16px;
  color: #222;
  font-weight: bold;
  text-transform: uppercase;
}
.info__shipping-address {
  display: inline-grid;
}
.info__shipping-address__block {
  height: 67px;
}
.info__shipping-address__block p {
  font-size: 14px;
  color: red;
  margin-left: 10px;
}
.info__shipping-address input, .info__shipping-address select {
  border: solid 1px #eaeaea;
  width: 355px;
  height: 45px;
  box-sizing: border-box;
  font-size: 13px;
  font-weight: 300;
  color: #b1b1b1;
  background-color: white;
  padding-left: 18px;
}
.info__shipping-address button {
  width: 100px;
  height: 35px;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: white;
  border: solid 1px #eaeaea;
  font-family: lato;
  margin-top: 22px;
}
.info__discount {
  margin-left: 35px;
}
.info__discount p {
  font-size: 14px;
  color: #000;
  margin-top: 28px;
}
.info__discount input {
  margin-top: 24px;
  border: solid 1px #eaeaea;
  width: 355px;
  height: 45px;
  box-sizing: border-box;
  font-size: 13px;
  font-weight: 300;
  color: #b1b1b1;
  background-color: white;
  padding-left: 18px;
}
.info__discount button {
  margin-top: 25px;
  display: block;
  width: 100px;
  height: 35px;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: white;
  border: solid 1px #eaeaea;
  font-family: lato;
}
.info__discount__button-block {
  display: flex;
}
.info__discount__button-block p {
  margin-top: 34px;
  margin-left: 20px;
  text-transform: uppercase;
}
.info__total-price {
  background-color: #f5f5f5;
  width: 360px;
  height: 214px;
  margin-left: 35px;
  box-sizing: border-box;
}
.info__total-price__block__sub {
  font-size: 11px;
  color: #4a4a4a;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.info__total-price__block__sub p:first-child {
  margin-right: 20px;
}
.info__total-price__block__grand {
  font-size: 16px;
  display: flex;
  margin-top: 14px;
}
.info__total-price__block__grand p {
  font-weight: bold;
}
.info__total-price__block__grand p:nth-child(2) {
  margin-left: 20px;
  color: #f16d7f;
}
.info__total-price__prices {
  display: flex;
  justify-content: space-around;
}
.info__total-price__prices__sale {
  margin-top: 67px;
}
.info__total-price__line {
  width: 275px;
  height: 1px;
  object-fit: contain;
  background-color: #e2e2e2;
  margin: 22px 42px 17px;
}
.info__total-price button {
  background-color: #f16d7f;
  border: none;
  width: 273px;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  font-family: "Lato";
  margin-left: 44px;
}

.products__type__category h2 {
  font-size: 14px;
  font-weight: bold;
  color: #f16d7f;
  width: 232px;
  height: 37px;
  border-bottom: #ebebeb 1px solid;
  border-left: #f16d7f 5px solid;
  padding-left: 11px;
  line-height: 38px;
  font-weight: bold;
}
.products__type__category__list {
  width: 232px;
  display: none;
}
.products__type__category p {
  font-size: 14px;
  line-height: 2.36;
  margin-left: 12px;
  color: #6f6e6e;
}

.products {
  display: flex;
  margin-top: 59px;
}
.products__container {
  margin-left: 49px;
}
.products__container__filter__types {
  display: flex;
}
.products__container__filter__types__trending {
  width: 290px;
}
.products__container__filter__types__trending h2 {
  font-size: 14px;
  color: #6f6e6e;
  font-weight: bold;
}
.products__container__filter__types__trending__list {
  display: flex;
  flex-wrap: wrap;
  width: 295px;
  margin-top: 18px;
  justify-content: space-evenly;
}
.products__container__filter__types__trending__list p {
  font-size: 14px;
  line-height: 1.86;
  color: #6f6e6e;
  white-space: nowrap;
}
.products__container__filter__types__size__inputs {
  margin-top: 24px;
  width: 237px;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-row-gap: 10px;
}
.products__container__filter__types__size__inputs__div {
  display: flex;
}
.products__container__filter__types__size__inputs__div input {
  margin-left: 9px;
}
.products__container__filter__types__size h2 {
  font-size: 14px;
  color: #6f6e6e;
  font-weight: bold;
}
.products__container__filter__types__size p {
  font-size: 14px;
  color: #6f6e6e;
  margin-left: 9px;
}
.products__container__filter__types__size p:nth-of-type(n+5) {
  margin-top: 13px;
}
.products__container__filter__types__size input:nth-of-type(n+2) {
  margin-left: 13px;
}
.products__container__filter__types__size input:nth-of-type(3), .products__container__filter__types__size input:nth-of-type(7), .products__container__filter__types__size input:nth-of-type(6) {
  margin-left: 31px;
}
.products__container__filter__types__size input:nth-of-type(4) {
  margin-left: 33px;
}
.products__container__filter__types__size input:nth-of-type(5) {
  margin-left: 0;
}
.products__container__filter__types__size input:nth-of-type(n+5) {
  margin-top: 13px;
}
.products__container__filter__types__price {
  width: 183px;
}
.products__container__filter__types__price p, .products__container__filter__types__price h2 {
  font-size: 14px;
  color: #6f6e6e;
}
.products__container__filter__types__price h2 {
  font-weight: bold;
}
.products__container__filter__types__price p {
  margin-left: 9px;
}
.products__container__filter__types__price input {
  margin-left: 10px;
}
.products__container__filter__types__price__numbers {
  display: flex;
  justify-content: space-between;
  width: 188px;
}
.products__container__filter__types__price__numbers p {
  margin-right: 31px;
}
.products__container__filter__types__gender p, .products__container__filter__types__gender h2 {
  font-size: 14px;
  color: #6f6e6e;
}
.products__container__filter__types__gender h2 {
  font-weight: bold;
}
.products__container__filter__types__gender p {
  margin-left: 9px;
}
.products__container__filter__types__gender__inputs {
  width: auto;
  margin-top: 24px;
}
.products__container__filter__sort {
  width: 866px;
  height: 50px;
  background-color: #f3f3f3;
  display: flex;
  margin-top: 25px;
  justify-content: space-between;
}
.products__container__filter__sort p, .products__container__filter__sort select {
  font-size: 14px;
  color: #6f6e6e;
  background-color: #ffffff;
  border: solid 1px #eaeaea;
  box-sizing: border-box;
  height: 30px;
  margin-top: 10px;
}
.products__container__filter__sort p:first-of-type {
  width: 66px;
  padding-left: 10px;
  padding-top: 5px;
  margin-left: 6px;
}
.products__container__filter__sort p:nth-of-type(2) {
  width: 55px;
  padding-left: 12px;
  padding-top: 5px;
  margin-left: 12px;
}
.products__container__filter__sort select {
  padding-left: 11px;
}
.products__container__filter__sort select:first-of-type {
  width: 86px;
}
.products__container__filter__sort select:nth-of-type(2) {
  width: 63px;
}
.products__container__filter__sort__search {
  font-size: 30px;
  background-color: white;
  margin-right: 10px;
  border: #f3f3f3 3px solid;
  padding: 0px 10px;
}
.products__container__filter__sort__sittings {
  display: flex;
}
.products__container__content {
  margin-top: 48px;
  display: flex;
  flex-wrap: wrap;
}
.products__container__content__item {
  margin-left: 30px;
  margin-bottom: 36px;
}
.products__container__content__item:nth-of-type(4) {
  margin-left: 0;
}
.products__container__content__item:nth-of-type(5) {
  margin-left: 30px;
}
.products__container__footer {
  display: flex;
  justify-content: center;
  margin-top: 7px;
  margin-bottom: 110px;
  width: 846px;
}
.products__container__footer__page {
  width: auto;
  min-width: 205px;
  height: 44px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.products__container__footer__page div {
  display: flex;
  gap: 8px;
}
.products__container__footer__page button {
  min-width: 36px;
  height: 36px;
  border: 1px solid #ebebeb;
  background-color: #fff;
  color: #333;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  border-radius: 4px;
  padding: 0 12px;
}
.products__container__footer__page button:hover:not(:disabled) {
  background-color: #f5f5f5;
  border-color: #ddd;
}
.products__container__footer__page button:disabled {
  cursor: default;
}
.products__container__footer__page button.active {
  background-color: #333;
  color: #fff;
  border-color: #333;
}
.products__container__footer__page button:first-child, .products__container__footer__page button:last-child {
  font-size: 16px;
}
.products__container__footer__view {
  padding-left: 43px;
  padding-top: 10px;
  box-sizing: border-box;
  display: block;
  width: 150px;
  height: 44px;
  border: solid 1px #ef5b70;
  background-color: #fff;
  text-decoration: none;
  color: #ef5b70;
  border-radius: 3px;
}

.goods__offer {
  margin: 0 auto;
  display: flex;
  width: 1600px;
  height: 341px;
  background-color: #222224;
}
.goods__offer__text {
  color: #fbfbfb;
}
.goods__offer__text h1 {
  color: #fbfbfb;
  text-align: center;
}
.goods__offer__text p {
  width: 310px;
  height: 37px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  letter-spacing: 0.35px;
  margin-top: 17px;
}
.goods__offer figure {
  height: 138px;
  width: 309px;
  margin-top: 89px;
}
.goods__offer figure:nth-of-type(1) {
  margin-left: 256px;
}
.goods__offer figure:nth-of-type(1) h1 {
  margin-top: 32px;
}
.goods__offer figure:nth-of-type(1) img {
  width: 46px;
  height: 32px;
  margin-left: 132px;
}
.goods__offer figure:nth-of-type(2) {
  margin-left: 81px;
}
.goods__offer figure:nth-of-type(2) h1 {
  margin-top: 23px;
}
.goods__offer figure:nth-of-type(2) img {
  margin-left: 132px;
}
.goods__offer figure:nth-of-type(3) {
  margin-left: 81px;
}
.goods__offer figure:nth-of-type(3) img {
  margin-left: 130px;
}
.goods__offer figure:nth-of-type(3) h1 {
  margin-top: 29px;
}

.products-page__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 31px;
  row-gap: 15px;
}
.products-page__list__product {
  width: 261px;
  height: 364px;
  margin: 0 !important;
  text-decoration: none;
  position: relative;
}

.form__block {
  padding: 2rem 0;
}
.form__block .container {
  max-width: 500px;
  margin: 0 auto;
  background-color: #f9f9f9;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.form__block .container .form__title {
  font-size: 24px;
  margin-bottom: 1rem;
  text-align: center;
}
.form__block .container .form__field {
  margin-bottom: 1rem;
  height: 93px;
}
.form__block .container .form__field .form__label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.form__block .container .form__field .form__input {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}
.form__block .container .form__button {
  width: 100%;
  padding: 0.8rem;
  border: none;
  background-color: #f16d7f;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.form__block .container .form__button:hover {
  background-color: #da6373;
}

.user-page__center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
.user-page .user-card {
  background: #f7f7f8;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  text-align: center;
}
.user-page .user-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}
.user-page .user-info p {
  font-size: 16px;
  margin: 10px 0;
  color: #555;
}
.user-page .user-info strong {
  color: #222;
}
.user-page .user-actions {
  margin-top: 20px;
}
.user-page .user-actions .btn {
  display: inline-block;
  margin: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.user-page .user-actions .btn-logout {
  background-color: #ff4d4d;
  color: #fff;
}
.user-page .user-actions .btn-logout:hover {
  background-color: #da6373;
}
.user-page .user-actions .btn:not(.btn-logout) {
  background-color: #4caf50;
  color: #fff;
}
.user-page .user-actions .btn:not(.btn-logout):hover {
  background-color: #45a049;
}

.order-container {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  padding: 20px;
  min-width: 100px;
  max-width: 600px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fafafa;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.order-container span {
  color: #9f9f9f;
}
.order-container select {
  padding: 8px 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 0.9em;
}
.order-container__header {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 15px;
  text-align: center;
}
.order-container__details p {
  margin: 5px 0;
  line-height: 1.4;
}
.order-container__actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
}
.order-container__products {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.order-container__line {
  height: 2px;
  object-fit: contain;
  background-color: #e8e8e8;
}
.order-container__info {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.order-container__price {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 200px;
}
.order-container__logout-btn {
  padding: 10px;
  font-size: 1em;
  color: white;
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.order-container__logout-btn:hover {
  background-color: #45a049;
}
.order-container__cancel-btn {
  background-color: #f44336;
}
.order-container__cancel-btn:hover {
  background-color: #e53935;
}

.users {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
}
.users__container {
  border: 1px solid #ececec;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
  padding: 20px;
  max-width: 900px;
  width: 100%;
}
.users__title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}
.users__nav {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #fefefe;
  border: 1px solid #ececec;
  border-radius: 8px;
}
.users__nav__search {
  font-size: 30px;
  background-color: #fff;
  border: none;
  margin-right: 26px;
}
.users__nav__count-render {
  flex: 1 1 calc(50% - 10px);
  display: flex;
  flex-direction: column;
}
.users__nav__count-render p {
  font-weight: bold;
  margin-bottom: 8px;
  color: #333;
}
.users__nav__count-render .buttons {
  display: flex;
  gap: 10px;
}
.users__nav__count-render .buttons button {
  padding: 8px 12px;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  font-size: 14px;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}
.users__nav__count-render .buttons button:hover {
  background-color: #f0f0f0;
}
.users__nav__orders-count {
  flex: 1 1 calc(50% - 10px);
  display: flex;
  flex-direction: column;
}
.users__nav__orders-count p {
  font-weight: bold;
  margin-bottom: 8px;
  color: #333;
}
.users__nav__orders-count div {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.users__nav__orders-count div input[type=range],
.users__nav__orders-count div input[type=number] {
  width: 100%;
  padding: 8px;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  font-size: 14px;
}
.users__nav__params {
  flex: 1 1 100%;
  border-top: 1px solid #ececec;
  padding-top: 10px;
  margin-top: 10px;
}
.users__nav__params p {
  font-weight: bold;
  margin-bottom: 8px;
  color: #333;
}
.users__nav__params select,
.users__nav__params input {
  width: 100%;
  padding: 8px;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  font-size: 14px;
}
.users__render {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}
.users__render .user {
  text-align: center;
  border: 1px solid #ececec;
  border-radius: 8px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.users__render .user h2 {
  font-size: 18px;
  margin-bottom: 10px;
}
.users__render .user h2 a {
  text-decoration: none;
  color: #007bff;
  transition: color 0.3s ease;
}
.users__render .user h2 a:hover {
  color: #0056b3;
}
.users__render .user p {
  font-size: 14px;
  color: #666;
}

.separator {
  width: 1px;
  height: 62px;
  background-color: #ddd;
  margin: 0 10px;
  align-self: stretch;
  border-radius: 1px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 10px 15px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: fit-content;
  margin: 20px auto;
}
.pagination__button {
  background-color: #f9f9f9;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.pagination__button:hover:not(.active):not(:disabled) {
  background-color: #f0f0f0;
  border-color: #bbb;
}
.pagination__button:active {
  transform: scale(0.95);
}
.pagination__button:disabled {
  color: #aaa;
  cursor: not-allowed;
  background-color: #eee;
}
.pagination__button.active {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
  font-weight: bold;
  pointer-events: none;
}

.active {
  color: #f16d7f !important;
}

.adminPage__welcome {
  font-size: 35px;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

.error-box {
  background: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
  text-align: center;
  width: 400px;
}

.error-code {
  font-size: 72px;
  font-weight: 700;
  color: #e74c3c;
  margin-bottom: 8px;
}

.error-message {
  font-size: 24px;
  color: #2c3e50;
  margin-bottom: 24px;
}

.error-time {
  font-size: 14px;
  color: #7f8c8d;
  margin-bottom: 32px;
}

.home-button {
  display: inline-block;
  padding: 12px 32px;
  background: #3498db;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 500;
  transition: background-color 0.3s ease;
}
.home-button:hover {
  background: #2980b9;
}

/*# sourceMappingURL=style.css.map */
