{#
    Шаблон главное страницы
    Выводит приветствие
#}
{# Подключаем шаблон с основным шаблоном #}
{% extends "admin/layouts/main.twig" %}
{% block content %}
    <div class="adminPage__welcome">
    Добро пожаловать
    </div>
{% endblock %}