{#
    Шаблон страницы "Продукт"
    Выводит страницу продукта
    Компоненты:
        one-good - компонент одного товара
        prod-recom - компонент рекомендаций
    параметры:
        good - товар
        storage - хранилище
#}
{% extends 'layouts/main.twig' %}
{# Заголовок #}
{% block title %}{{ good.name }}{% endblock %}
{% block content %}
    {# Подключение компонента страницы продуктв #}
    <prod-page  ref="prodPage"
               :good="{{ good | json_encode }}"
               :types-in-storage="{{ storage|json_encode() }}"></prod-page>
    <div class="recomend container">
        <h1>you may like also</h1>
        {# Подключение компонента рекомендации товаров #}
        <prod-page-recommend ref="prodPageRecommend"></prod-page-recommend>
    </div>
{% endblock %}
